{% extends "base.html" %}

{% block content %}
	<table border="1">
          <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
          </tr>
            {% for u in searchResults %}
                <tr>
                  <td> {{ u.id }} </td>
                  <td> {{ u.firstname }} </td>
                  <td> {{ u.lastname }} </td>
                  <td> {{ u.email }} </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <a href="{{ url_for('index') }}"> Back to Search</a>
{% endblock %}
